.activated {
    background-color: chocolate;
}

a,
.links {
    text-decoration: none;
    background-color: darkgreen;
    color: wheat;
    margin-left: 1rem;
}

nav {
    background-color: darkgreen;
}

#collection {
    font-weight: bold;
    color: yellowgreen;
}

.nav li {
    margin-left: 2rem;
}

.dropdown-menu {
    background-color: wheat;
}

.drop {
    background-color: wheat;
    color: darkgreen;
    font-weight: bold;
}